<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/main_icon_app_legacy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Splash">
        <meta-data
            android:name="MY_DAY_API_KEY"
            android:value="${MY_DAY_API_KEY}" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NetworkErrorActivity"
            android:exported="false"
            android:theme="@style/IntroTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ui.activity.MyIntroActivity"
            android:exported="false"
            android:theme="@style/IntroTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyDay"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>